 h3 {
color: #000000;
}

body{ 
background-color: #ccd5ae;
}



img:hover{
  width: 400px;
  border: pink striped 15px;
  border-radius: 70%;
}

h3:hover {
  font-size: 120%;
  text-transform: uppercase;
  text-decoration: wavy underline black;
}
  
nav{
  list-style-type: none;
  width: 100%;
background-color: #EBCE8B;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  color: black;
  text-decoration: none; 
  display: block;
  float: left;
  padding: 15px 50px;
}

li a:hover{
  text-decoration: red straight 3px overline underline;

}
  
