body {

}

h3 {
color: #7f5539
}

body{ 
background-color: #ccd5ae;
}

text-decoration: red straight 3px overline underline;
letter-spacing: 120px;

img:hover{
  width: 320px;
  border: pink striped 15px;
  border-radius: 70%;
}

h2:hover {
  font-size: 420%;
  text-transform: uppercase;
  text-decoration: wavy underline green
}
  
